<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!--
    The following bean shows a class that stores a map between channel manager service and internet bank actions.
    Each property for this map, has a key that shows the action name in internet bank, indeed this key is the value
    of the element called actionName in menu.xml file.
    The value of each property tag shows the name of the channel manager service.
    This map is global and it stores only the relation between the action name and channel manager service, when a
    service is added to channel manager and that service is implemented in internet bank, this bean should be updated.
    Those actions that should appear in the menu and requires no channel manager service or the service is global in
    channel manager, should be inserted in a property but the value of the property must be empty.
    -->
    <bean id="channelManagerServiceMap" class="com.kishware.ebank.menu.ChannelManagerServiceMap">
        <property name="serviceMap">
            <props>
                <prop key="homePage">getFavoriteAccountList</prop>
                <prop key="viewFavoriteAccount">getFavoriteAccountList</prop>
                <prop key="viewAccAction">getAccountTypeSummaryList</prop>
                <prop key="calendarViewBillList">getDepositStatementSummary</prop>
                <prop key="chooseDepositType">inaugurateDeposit</prop>
                <prop key="newNormal">normalTransfer</prop>
                <prop key="contacts">getContactFullInfoList</prop>
                <prop key="exchange">authorizedDepositReportForCustomer</prop>
                <prop key="newContinuum">autoTransfer</prop>
                <prop key="newBatch">batchTransfer</prop>
                <prop key="newRtgs">rtgsTransfer</prop>
                <prop key="cardTransfer">ePayment.FundTransfer</prop>
                <prop key="newNormalAch">achNormalTransfer</prop>
                <prop key="newAchBatch">achBatchTransfer</prop>
                <prop key="newAutoAch">achAutoTransfer</prop>
                <prop key="report">getTransferList</prop>
                <prop key="continnumInputTransferPage">getDestinationAutoTransferReport</prop>
                <prop key="rtgsReport">getRtgsTransferList</prop>
                <prop key="achTransferBatchReport">getAchTransfers</prop>
                <prop key="achTransferTransactionReport">getAchTransactions</prop>
                <prop key="jariDepositsReport">getDetailAccountList</prop>
                <prop key="transferredChequesListPage">getDepositChequeList</prop>
                <prop key="initialLoan">getLoanList</prop>
                <prop key="othersLoanPaymentPage">payLoan</prop>
                <prop key="cardManagementPage">getCardAccounts</prop>
                <prop key="creditDossierBillPage">getCustomerCardList</prop>
                <prop key="creditDossiersPage">getCustomerCardList</prop>
                <prop key="billPayment">ePayment.BillPayment</prop>
                <prop key="viewBatchBillPayment">ePayment.BatchBillPayment</prop>
                <prop key="changePassword">changePassword</prop>
                <prop key="changeSecondPassword">requestSecondPassword</prop>
                <prop key="changeUsername">changeUserName</prop>
                <prop key="homeSettingsPage">updateFavoriteAccountSetting</prop>
                <prop key="displaySettingsPage">updateUserBillSetting</prop>
                <prop key="billStatementSettingPage">updateUserBillSetting</prop>
                <prop key="periodicalReportsSettings">getPeriodicRequests</prop>
                <prop key="paymentServices">ePayment.ThirdPartyPayment</prop>
                <prop key="paymentWithPayNo">institutionalTransfer</prop>
                <prop key="cardTransactionsReport">ePayment.CardTransactions</prop>
                <prop key="registerChequePage">registerCheqAmount</prop>
                <prop key="otpPasswordPrefixSettingPage">changeOtpPasswordPrefix</prop>
                <prop key="periodicalReportsSettingsPage">getPeriodicRequests</prop>
                <prop key="contact"></prop>
                <!--this action does not require channel manager service-->
                <prop key="logout"></prop>
                <!--this action requires a global channel manager service-->
            </props>
        </property>
    </bean>
</beans>